*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    font-family: 'Source Sans 3', sans-serif;
}

h1,h2,h3,h4,h5{
    font-family:'Volkhov', serif;
}


/* Button style dung chung */
.btn-style{
    /* margin-top: 25px; */
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 26px;

    padding: 12px 30px;
    background-color:#fb811e ;
    color: #fff;
    border-radius: 30px;
    transition: all .5s;
}
.btn-style:hover{
    background-color: #009f4d;
    color: #fff;
}



/* HEADER */


/* Css cho header h1 */
.navbar .navbar-brand{
    font-size: 32px;
    color: #fb811e;
    position: relative;
    padding: 0px;
    font-weight: 700px;
}

.navbar .navbar-brand i{
    position: absolute;
    top: -10px;
    left: 55px;
    font-size: 20px;
}

.navbarRight{
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}

.navbarRight .dropdown button{
    background-color: transparent;
    border: none;
    color: black;
    font-size: 25px;
}

/* collapse and expand search bar */
.search-right input[type=search]{
    background: #fff url(../img/search.png)no-repeat
     10px center;
    border: solid 1px #eee;
    padding: 0 10px;
    width: 35px;
    height: 35px;
    border-radius: 10em;
    cursor: pointer;
    transition: all .5s;
}

#search-bar input[type = search]:focus{
    width:200px;
    padding-left: 32px;
    color: #000;
    background-color: #fff;
    cursor:auto;
    padding-right: 15px;
}


/* Banner */
/* set position banner left above carrousel on right */
.banner__left{
    position: relative;
    left: 10em;
    z-index: 1;
}

.banner__left h2{
    color: #f4f4f4;
    font-size: 120px;
    font-weight: bold;
    margin-left: -0.5em;
}

.banner__left__content{
    position: relative;
}

/* fade word Farm */
.banner__left .fade-text{
    position: absolute;
    top: -85px;
    left: 0;
    z-index: -1;
}

.inner__content h3{
    font-size: 50px;
    line-height: 60px;
    font-weight: 900;
}
.inner__content p{
    padding: 20px 0 20px 0;
    font-size: 20px;
}



/* Banner Right */
/* Carrousel */
#carouselBannerRight .carousel-item img{
    border-radius: 0 0 15px 15px;
}

/* chinh duong gach indicator thanh hinh tron */
.carousel-indicators li{
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.carousel-indicators .active{
    background-color: #fb811e;
}

/* chinh position to bottom-left cho caption */
#carouselBannerRight .carousel-caption{
    right: -74%;
    bottom: 0%;
    /* transform: translate(); */
}

/* chinh font chu cho caption */
.carousel-caption h5{
    font-size: 30px;
    margin-bottom: -5px;
}
.carousel-caption p{
    font-size: 19px;
}



/* Grow Section */
/* left-side style */
.grow__left h5{
    font-size: 23px;
    color: #fb811e;
}
.grow__left h2{
    font-size: 40px;
    font-weight: 900;
}

.grow__left p{
    color: #707070;
    line-height: 1.5;
    font-size: 19px;
    padding: 20px 0;
}

/* right-side style */
.grow__right .content-right{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

/* card-item style */
.card-item{
    padding: 40px 30px;
    border-radius: 30px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 18px 48px rgb(0,0,0,0.03);
    transition: all .5s;
}

.card-item:hover{
    box-shadow: 0 25px 98px rgb(0,0,0,.1) ;
}

/* icon style */
.icon img{
    max-width: 65px;
    display: block;
    margin: 0 auto;
}

/* header icon style */
.card-item a{
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    text-decoration: none;
    color: black;
    display: block;
    margin-top: 25px;
    cursor: pointer;
    transition: all .8s;
}

.card-item a:hover{
    color: #009f4d;
}

/* Services */
.Service{
    background-color: #009f4d;
}

.title-bg{
    color:white
}

.service-header h5{
    font-size: 22px;
}

.service-header h3{
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
}

.font-bg{
    position: absolute;
    color:#fff;
    font-size: 200px;
    font-weight: bold;
    opacity: 0.14;
    z-index: 0;
    right: 50%;
    bottom: 50%;
    transform: translate(50%,50%);
}

.service-card .card{
    border-radius:20px;
}
.service-card .card .card-img img{
    /* display: inline-block; */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* card style */
/* green capsule */
.card-body span{
    display: inline-block;
    font-size: 15px;
    padding: 5px 20px;
    color:#009f4d;
    border-radius:15px;
    background:rgb(0,159,77,0.16);
    font-weight: 600;
}
/* Card title */
.card-subTitle{
    display: block;
    color:black;
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    margin: 15px 0;
    transition: all 0.5s;
}
/* Card title when hover */
.card-subTitle:hover{
    color:#009f4d;
    text-decoration: none;
}
/* chinh style cho noi dung the */
.card-text{
    font-size: 17px;
    line-height: 27px;
    color:#707070
}

/* Choose Section */
/* Chinh style content left */
.choose__left h5{
    font-size: 22px;
    font-weight: 300;
    color:#fb811e
}

.choose__left h2{
    font-weight: 600;
    line-height: 49px;
    font-size: 38px;
    padding-bottom: 10px;
}

.staff span{
    font-size:30px;
    color:#fb811e
}
.staff h4{
    font-weight: 600;
}

/* right content */
.choose__right .right-img{
    border-radius:30px
}

.choose__right .year{
    padding: 40px;
    background-color:#fb811e;
    color:white;
    border-radius:0 0 100px 0;
    text-align: center;
    min-width: 300px;
    position: absolute;
    left: -83px;
    bottom: 38px;
    box-shadow: 30px 30px 30px rgb(0,0,0,.2);
}

.choose__right .year h4{
    font-size: 70px;
    line-height: 80px;
    font-weight: 600;
}

.choose__right .year p{
    font-weight: 18px;
    text-transform: uppercase;
    font-weight: 600;
}